<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>
        THE HOME PAGE
        <%= 4+5+1 %> 
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat laudantium porro dignissimos, maxime pariatur ullam, accusamus inventore adipisci asperiores amet odit eaque harum eligendi 
        nisi ipsam quidem obcaecati ipsa dolores!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis vitae ad deleniti ipsum, debitis placeat eaque architecto totam reprehenderit consequatur soluta dolore magni necessitatibus, perspiciatis
         aliquam aliquid fugit distinctio rem!</p>

    
</body>
</html>
